.DS_Store
Thumbs.db

node_modules/
dist/
build/

.env.local
.env.*.local
.env.development
.env.test
.env.production

*.log
*.swp
*.lock

*.idea
*.iml
*.ipr
*.iws
*.class
*.war
*.ear
*.jar
*.exe
*.dll
*.so
*.dylib
*.rdb
*.log
*.min.css
*.min.js

*.bak
*.tmp
